
.ap_user_det{
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 30rem;
    border: solid black;
    height: 20rem;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-bottom: 1rem;
}
.ap-user-value{
    margin-bottom: 1rem;
}

.ap-deleteUser{
    color: red;
    cursor: pointer;
    font-size: 1rem;
}


.user_cont_ap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: solid black;
    padding: 10px 50px;
    font-size: 1.3rem;
    border-bottom: 1px solid black;
    cursor: pointer;
    .id_ap{
        color : $dark;
        width : 10%;
        // border: solid black;
    }
    .username_ap{
        color : $dark;
        width : 30%;
        // border: solid black;
    }
    .email_ap{
        color : $dark;
        width : 50%;
        // border: solid black;
    }
}

.user_mode{
    padding: 20px;
    // border: solid black;
}

.rev_con_ap {
    border: 1px solid rgb(185, 185, 185);
    background-color: white;
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
  }

  .rev_cont_ap{
      display: flex;
      flex-wrap: wrap;
  }

  .propage_ap{
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      margin: 50px 20px;
    //   border: solid black;
  }

  .productbox_ap{
      padding: 25px;

      .product_anlys{
          width: 100%;
          border: solid black;
      }

      .reports{
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;  
      }
     
      .del{
          font-size: 1.5rem;
          color: red;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        //   border: solid black;
          text-align: center;
      }
  }

  .action_review{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .del_review{
          font-size: 1rem;
          color: red;
          cursor: pointer;
      }
  }

  .admin_pannel_user{
      display: flex;
      flex-direction: column;
  }

  