.Contact{

    width: 100%;
    background-color: white;
}



.material{
    // border: solid black;
    // border: 1px solid #c5c5c5;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Lato", sans-serif;

    textarea{
        height: 8rem;
        width: 80%;
        font-size: 1rem;
        // border: solid black; 
    }
    
    input {
        margin-top: 10px;
        width: 75%;
        font-size: 1rem;
        // margin-bottom: 10px;
    }
}

.contact_head{
    display: flex;
    flex-direction: row;
    height: 6rem;
    // border: solid black;
    width: 80%;
}
.contact_heading{
    font-size: 2.5rem;
    color: $secondary;
    font-weight: 600;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}


.form_btn{
    width: 20%;
    // border: solid black;
    padding: 20px 25%;
}
.submit_contact{
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $secondary;
    color: white;
    border: 1px solid $secondary;
}
.contact_name{

    
    input{
        width: 75%;
        text-align: unset;
        font-size: 1rem;
    }
}
.last_name_cu{
    margin-left: 0.5rem;
}
.contact_subhead{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}

.loadingsvg {
    height: 16px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0px;
  }


@media screen and (max-width : 720px){

    .material{
        width: 90%;
        // border: solid black;
    }

    .contact_head{

        // border: solid black;
        width: 90%;
    }
    .contact_heading{
        font-size: 1.5rem;
        color: $secondary;
        font-weight: 600;
        margin-top: 7%;

    }

    .contact_subhead{
        font-size: 1rem;
        font-weight: 400;
        margin-left: unset;
        // border: solid black;
    }

    .form_contact{
        padding: 0 10%;
    }
 
}
