.productbox{
    width: 280px;
    height: 270px;
    border:black solid;
    margin: auto;
    box-shadow: 5px 10px 8px 10px #888888;
}
.border{
    width: 10px;
    height: 270px;
    background: #ee6535;
    float: right;
     border-radius: 6px;
}
