

.title{
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

@media(max-width :30rem){
    .title{
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

   @media(max-width : 15rem){
       .title{
           text-align: center;
           font-size: 0.8rem;
       }
   } 

}

@media(max-width : 20rem){
    .title{
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}