.header_cont {
  background-color: $secondary;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  box-shadow: 0px 0px 20px rgba(131, 131, 131, 0.2);
  box-sizing: border-box;
  padding: 0px 15vw;
}
.gbtn {
  border-radius: 20px !important;
  height: 35px !important;
  div {
    border-radius: 20px !important;
    // margin-top: -2px !important;
    height: 15px !important;
  }
}
.fr {
  display: flex;
  flex-direction: row;
}
.search_con {
  // justify-self: flex-end;
  position: relative;
  justify-self: flex-end;
}

.header_left {
  position: absolute;
  top: 0px;
  left: 15vw;
  cursor: pointer;
  img {
    object-fit: cover;
    margin-top: -2px;
    margin-right: 5px;
    height: 56px;
    // width: 100px;
  }
}

.header_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  span {
    font-size: large;
    color: white;
  }
}

.main_search_inp:focus {
  outline: none;
}

.main_search_inp {
  width: 180px;
  height: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  font-size: 0.84rem;
  color: rgb(54, 54, 54);
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  transition: 0.05s;
  text-align: center;
}

.cat_btn {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

.user_btn_con {
  // width: 650px;
  // padding-right: 30px;

  button {
    background-color: transparent;
    color: $light;
    font-size: 16px;
    padding: 5px 25px;
    font-weight: 300;
    margin-left: 3vw;
  }

  img {
    margin-left: 3vw;
    height: 30px;
    cursor: pointer;
  }
}
#pro_pic {
  border-radius: 50px;
}

#reg_btn {
  background-color: $secondary;
  color: white;
  border-radius: 20px;
  border: solid 2px white;
  // box-shadow: 0px 0px 5px rgb(168, 168, 168);
}
#reg_btn:active {
  background-color: $secondary;
  color: white;
  border-radius: 20px;
  border: solid 2px white;
  // box-shadow: 0px 0px 5px rgb(168, 168, 168);
}
#reg_btn:hover {
  background-color: white;
  color: $secondary;
  border-radius: 20px;
}

.cat_btn_con {
  width: 65%;
  button {
    background-color: transparent;
    color: $light;
    font-size: 17px;
    padding: 5px 25px;
  }

  img {
    height: 30px;
    cursor: pointer;
  }
}

#cat_btn_drop {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  // padding: 5px 0px;
  padding: 5px;
  background-color: $secondary;
  border-radius: 20px;

  img {
    // margin-top: 5px;
    height: 20px;
  }
}
.frse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#coins {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  color: $secondary;
  padding: 6px 9px;

  border: solid 1px;
  border-radius: 15px;
  img {
    margin-left: 0px;
    margin-right: 8px;
    display: block;
    height: 15px;
  }
}

.profile {
  // border: solid 1px white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-left: 80px;
  margin-right: 20rem;
  cursor: pointer;

  img {
    margin-left: 15px;
  }
}

// tooltip css
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  z-index: 1;
}
.tooltiptext {
  position: absolute;
  width: 120px;

  font-size: 1.1rem;
  cursor: pointer;
  top: 40px;
  left: 0px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.searchRe {
  position: absolute;
  top: 25px;
  left: 5px;
  background-color: #eeeeee;
  width: 170px;
  z-index: 15000;
  border-bottom: solid 1px rgb(175, 175, 175);

  li {
    border: solid 1px rgb(175, 175, 175);
    border-bottom: none;
    list-style: none;
    padding: 5px;
    cursor: pointer;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.admin_panel {
  margin-top: 5rem;
}
#search_btn_header {
  display: none;
}

@media screen and (max-width: 730px) {
  .user_btn_con {
    display: none;
  }
  #search_btn_header {
    display: block;
    position: absolute;
    top: 12px;
    right: 20px;
    height: 25px;
    transform: rotateY(180deg) rotateZ(6deg);
  }

  .header_cont {
    padding: 0px 10px;
  }
  .header_left {
    left: 10px;
  }
  .header_left_none {
    display: none;
  }
  .main_search_inp {
    width: 0px;
    padding: 0px;
  }
  .main_search_inp_mob {
    position: absolute;
    right: 30px;
    top: -18px;
    width: 80vw;
    border-radius: 0px;
    height: 38px;
    text-align: center;
    transition: 0.5s;
  }
  .searchRe {
    display: none;
  }
  .parent {
    transform: translateX(0px);
    margin-right: 20px;
  }
  .gbtn {
    border-radius: 20px !important;
    height: 44px !important;
    div {
      border-radius: 20px !important;
      // margin-top: -2px !important;
      height: 15px !important;
    }
  }
}
