.subtitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;

}

.com{
    color: #ee6535;
}

.titlebtn{
  padding: 0 10%;  

}

.titl{
  background: transparent;
    text-align: center;
    font-size: 3.3vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: transparent;
  cursor: pointer;

}

@media(max-width :30rem){
    .titl{
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

@media(max-width : 24rem){
    .titl{
        font-size: 1rem;
    }
}

   @media(max-width : 15rem){
       .titl{
           text-align: center;
           font-size: 0.8rem;
       }
       .subtitle{
           font-size: 0.6rem;
       }
   } 

}

@media(max-width : 20rem){
    .titl{
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

.SignIn{
    font-size: 2vh;
    padding: 0 1.1rem;
    color: white;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.5rem;

}

    .divbtn{
        padding: 5% 25%;
    }

.lgnbtn{
    color: #ee6535;
  padding: 14px 20px;
  border: #ee6535;
  cursor: pointer;  
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;

}
.lgnbtn:hover{
    background-color:#ee6535 ;
    color: white;
}


.psw{
    text-align: right;
    margin-bottom: 1rem;
}

@media(max-width : 30rem){
    .SignIn{
        font-size: 0.8rem;
        // padding: 0 rem;
    }
    .psw{
        text-align: right;
        font-size: 0.5rem;
        margin-bottom: 0.8rem;
    }
}

@media(max-width : 23rem){
.SignIn{
    font-size: 0.6rem;
    text-align: center;
    margin: auto;
}
.lgnbtn{
    text-align: center;
    font-size: 0.4rem;
     padding: 5px 8px;
}
}

@media(max-width : 18rem){
    .lgnbtn{
        padding : 8px 10px;
        font-size: 0.1rem;
        text-align: left;
    }
}

.new{
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: black;  
}

.SignUp{
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: #8a8888;
  border-radius: 0.5rem;
}

.SignUp:hover {
  background-color: #393737;
}

.cont{
    max-width: 40vh;
    min-width: 25vh;
    margin:  auto;
    padding: 5rem;
    height: 80rem;
}

.container2{
    width: 100%;
    background: linear-gradient(#8a8888 , #393737);
box-shadow: 5px 5px 30px #FFFFFF;
border: 1px solid #707070;
border-radius: 24px;

padding: 0.5rem;
}

.subcont{
    padding: 1rem;
}

@media(max-width : 30rem){
    .container2{
        height: 25rem;

    }
}

@media(max-width : 15rem){
    .subcont{
        padding: 0rem;
    }
  
}



