.MainSearch {
    height: 50vh;
    background-image: url("../../img/backBook.jpg");
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    box-sizing: border-box;
    margin-top: 50px;
}

#main_search_inp:focus {
    outline: none;
}

#main_search_inp {
    width: 40%;
    border-radius: 20px;
    background-color: #eeeeee;
    font-size: large;
    color: rgb(54, 54, 54);

    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: 200%;
}

#get_reg_btn {
    background-color: transparent;
    color: $light;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 300;
    background-color: $secondary;
    color: white;
    border-radius: 20px;
}
