.MainHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// background-image: linear-gradient($primary, $secondary);
	background-color: transparent;
	position: fixed;
	width: 100%;
	padding: 10px;
	display: none;
	top: 50px;
	z-index: 100;
}
