
.my_cart{
    display: flex;
    flex-direction: column;
    // border: solid black;
    width : 100%;
    // min-width: 50rem;

    margin-right: auto;
    margin-left: auto;

}

.content_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.heading_cart {
    // background-color: $blur;
    height: 50px;
    font-family: "Times New Roman", Times, serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    // border: solid black;
    margin-top: 4rem;
    color: $dark;
    margin-bottom: 1vw;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.check_head{
    margin-right: 4rem;
    button{
        padding: 10px 20px;
        background-color: $secondary;
        color: $light;
        font-size: 1.5rem;
        border-radius: 10px;
    }
}

.product_row_div {
    width: 100%;
    // min-width: 40rem;
}



.product_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    // min-width: 60rem;
    border-top: 1px solid $l_grey_text;
    border-bottom: 1px solid $l_grey_text;
    // border: solid black;
    height: 150px;
    padding: 1rem 0;
    margin-left: auto;
    margin-right: auto;
}

.btn_cart_div{
    width: 5rem;
}


.img_cart {
    width: 6rem;
    min-width: 6rem;
    margin-right: 1rem;
    // border: solid black;
    cursor: pointer;
      img{
        height: 130px;
        width: 100%;
    }
}

.details_cart {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    color: $dark;
    font-size: 1.5rem;
    // border: solid black;
    font-weight: 600;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  .book_title_cart{
      font-size: 1.4rem;
    //   border: solid black;
      width: 20rem;

  }
    h3,
    h6 {
        margin: 5px;
    }
}

.grand_total{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    // border: solid black;

    .grand_val{
        margin-left: 1rem;
        font-size: 1.5rem;
        color: $secondary;
        font-weight: 600;
    }
}

.cart_product_price {
    font-size: 1.4rem;
    color: $secondary;
    // border: solid black;
    width: 10rem;
}

.cart_row_wise {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cart_coins {
    font-size: 1.4rem;
}

.type_product_cart {
    width: 10rem;
    font-size: 1.2rem;
    // border: solid black;
}
.type_product_total {
    width: 11rem;
    font-size: 1.3rem;
    // text-align: right;
    // border: solid black;
}
.type_value {
    font-size: 1.1rem;
    color: $secondary;
}
.cart_remove_button {
    height: 1.5rem;
    width: 6rem;
    cursor: pointer;
}

.type_product_cart_mob{
    display: none;
}

.cart_product_price_mob{
    display: none;
}

.btn_cart_div_mob{
    display: none;
}

@media screen and (max-width: 720px) {

    .my_cart{
        display: flex;
        flex-direction: column;
        // border: solid black;
        width : 100%;
        min-width: none;
        margin-right: auto;
        margin-left: auto;
    
    }

    .heading_cart {
        height: 50px;
        font-family: "Times New Roman", Times, serif;
        width: 90%;
        // border: solid black;
        color: $dark;
        margin-bottom: 1vw;
        font-size: 0.9rem;
        
    }

    html,body{
        overflow-x: hidden;
    }

    .check_head{
        margin-right: 1rem;
        button{
            padding: 4px 16px;
            background-color: $secondary;
            color: $light;
            font-size: 1.1rem;
            border-radius: 10px;
        }
    }

    .details_cart {
        width: 100%;
        padding: 10px;
        font-size: 1.5rem;
      .book_title_cart{
          font-size: 1.1rem;
        
        //   border: solid black;
          width: 15rem;
    
      }
    }
   
    .type_product_cart{
        display: none;
    }
    .type_product_cart_mob{
        display: unset;
        margin-bottom: 10px;
        // color: $l_grey_text;
        font-weight: 400;
        font-size: 1rem;
    }

    .cart_product_price {
        font-size: 1rem;
        width: 10rem;
    }

    .btn_cart_div{
        display: none;
    }

    .btn_cart_div_mob{
        display: unset;
    }

    .cart_remove_button {
        height: 1.5rem;
        width: 4rem;
        cursor: pointer;
        background-color: $secondary;
        color: white;
        border-radius: 7px;
        margin-top: 10px;
    }

    .cart_product_price_mob{
        display: unset;
        font-size: 1rem;
        color: $secondary;
        // border: solid black;
        width: 8rem;
        .price_mob{
            color: black;
            font-weight: 400;

        }
    }
    .cart_product_price{
        display: none;

    }

    .price_tot{
        margin-left: 8px;
    }
}

