
.my_order_div{
  width: 80%;
  background-color: white;
  padding: 10%;
  
}
.order_det{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: $dark;
    font-weight: 800;
    width: 100%;
    // border: solid black;
    margin-bottom: 4rem;
    padding: 20px 0;

    .cover{
      width: 150px;
      height: 200px;
      // border: solid black;
    img{
      width: 100%;
      height: 100%;
      // border: solid black;
    }
  }

    .bookName{
      // border: solid black;
      height: 180px;
      padding: 0 20px;
      margin-left: 20px;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
      .btn{
        button{
          padding: 6px 10px;
          background-color: $secondary;
          color: white;
          border-radius: 3px;
        }
      }

      .for_mob{
        display: none;
    }


    }

    .delete{
      height: 200px;
      color: $secondary;
      cursor: pointer;
    }
}

.bookDet{
  display: flex;
  flex-direction: row;
  // border: solid black;


}

@media screen and (max-width : 720px){


.my_order_div{
  width: 88%;
  background-color: white;
  padding: 5%;
  border: solid black;
  
}
.order_det{
  
    font-size: 1rem;

    margin-bottom: 3rem;
    padding: 20px 0;

    .cover{
      width: 100px;
      height: 130px;
      // border: solid black;

  }

    .bookName{
      // border: solid black;
      height: 140px;
      padding: 0 20px;
      margin-left: 20px;
      font-size: 1.1rem;

      .for_mob{
        display: unset;
      }
      .for_pc{
        display: none;
      }

      .price_pp{
        font-size: 1rem;
      }
     
      .btn{
        button{
          padding: 4px 6px;
          font-size: .8rem;
        }
      }


    }

    .delete{
      height: 150px;

    }
}


}