.new{
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: black;  
}

.SignUp{
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: #8a8888;
  border-radius: 0.5rem;
}

.SignUp:hover {
  background-color: #393737;
}