.new{
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.SignUp{
    background-color: white;
    color:palevioletred;
    font-size: 1rem;
}

.SignUp:hover {
  color: black;
  background-color: palevioletred;
}