

.header_left_PP {
	display: flex;
	background-color: $dark;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	img {
		margin-top: 5px;
		margin-right: 5px;
		height: 40px;
	}
	span,
	b {
		cursor: pointer;
		color: white;
		font-size: 30px;
	}

	span {
		color: $secondary;
	}
}

.pp_btn {
	width: 65%;
	padding: 0 3%;
	button {
		background-color: transparent;
		color: $light;
		font-size: 17px;
		padding: 5px 25px;
	}

    img {
        height: 30px;
        cursor: pointer;
    }
}
.gap {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0 10%;
}
.ext {
	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	align-items: center;
}

.user_btn_pp {
	width: 45%;
	padding-right: 30px;
	button {
		background-color: transparent;
		color: $light;
		font-size: 16px;
		padding: 5px 10px;
		font-weight: 300;
		margin-left: 2vw;
	}

	img {
		height: 30px;
		cursor: pointer;
	}
}
.Main_BI {
	margin-top: 50px;
	width: 34vw;
	padding: 5vw;
	box-sizing: border-box;
	text-align: center;
	display: block;
}


.product_img_pp {
	height: calc(30vh - 14px);
	text-align: center;
}

.Main_CT {
	font-size: 2rem;
	padding: 10rem 5rem;
	width: 48%;
}
.author {
	// color:;
	font-size: 1rem;
}
.hr {
	opacity: 0.5;
}
.price_pp {
	font-size: 1.4rem;
}
.price_val {
	color: $secondary;
}
.des_cont {
	font-size: 1rem;
}
.des_pp {
	font-size: 1.5rem;
}
.buy_btn_pp {
	height: 2rem;
	width: 10rem;
	background-color: $secondary;
	color: $light;
}
.adc_btn_pp {
	height: 2rem;
	width: 10rem;
	background-color: $secondary;
	margin-left: 1rem;
	color: $light;
}
.main_body_pro_page {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

@media screen and (max-width: 1250px) {

	.Main_BI {
		margin-top: 100px;
		width: 60vw;
		padding: 5vw;
	}
	// .main_body_pro_page {
	// 	flex-direction: column;
	
	// }
	.Main_CT {
		font-size: 1.8rem;
		padding: 3rem 10%;
		width: 80%;
		margin-left: 10rem;
	}
}

@media screen and (max-width: 1200px) {

	.Main_BI {
		margin-top: 100px;
		width: 60vw;
		padding: 5vw;
	}
	// .main_body_pro_page {
	// 	flex-direction: column;
	
	// }
	.Main_CT {
		font-size: 1.5rem;
		padding: 3rem 10%;
		width: 50%;
	}
}


@media screen and (max-width: 800px) {

	.Main_BI {
		margin-top: 100px;
		width: 80vw;
		padding: 5vw;
	}
	.main_body_pro_page {
		flex-direction: column;
	
	}
	.Main_CT {
		font-size: 2rem;
		padding: 3rem 10%;
		width: 80%;
	}
}
@media screen and (max-width: 550px) {

	.Main_BI {
		margin-top: 100px;
		width: 100vw;
		padding: 5vw;
	}
	.main_body_pro_page {
		flex-direction: column;
	
	}
	.Main_CT {
		font-size: 1.7rem;
		padding: 3rem 10%;
		width: 80%;
	}

	.buy_btn_pp {
		height: 2rem;
		width: 6rem;
		background-color: $secondary;
		color: $light;
	}
	.adc_btn_pp {
		height: 2rem;
		width: 6rem;
		background-color: $secondary;
		margin-left: 1rem;
		color: $light;
	}
}
@media screen and (max-width: 600px) {

	.Main_BI {
		margin-top: 100px;
		width: 80vw;
		padding: 5vw;
	}
	.main_body_pro_page {
		flex-direction: column;
	
	}
	.Main_CT {
		font-size: 1.8rem;
		padding: 3rem 10%;
		width: 80%;
	}
	.buy_btn_pp {
		height: 2rem;
		width: 8rem;
		background-color: $secondary;
		color: $light;
	}
	.adc_btn_pp {
		height: 2rem;
		width: 8rem;
		background-color: $secondary;
		margin-left: 1rem;
		color: $light;
	}
}



@media screen and (max-width: 380px) {

	.Main_CT {
		font-size: 1.5rem;
		padding: 3rem 10%;
	}

	.buy_btn_pp {
		height: 2rem;
		width: 6rem;
		background-color: $secondary;
		color: $light;
	}
	.adc_btn_pp {
		height: 2rem;
		width: 6rem;
		background-color: $secondary;
		margin-left: 0.5rem;
		color: $light;
	}
}


