.cont_for_product {
  align-items: center;
  // border: solid black;
  width: 80%;
}

@media screen and (max-width: 1400px) {
  .cont_for_product {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // border: solid black;
    align-items: center;
  }
}
