
.Main_BI {
	// padding: 4rem;
	height: 20rem;
	box-sizing: border-box;
	text-align: center;
	display: block;
	border: solid 1px rgb(173, 173, 173);
	// margin-left: 6rem;
}

.product_img_pp {
	height: 100%;
}

.Main_CT {
	width: 50%;
	font-size: 2rem;
	padding: 4rem;
}
.author {
	// color:;
	font-size: 1rem;
}
.hr {
	opacity: 0.5;
}
.price_pp {
	font-size: 1.4rem;
}
.price_val {
	color: $secondary;
}
.des_cont {
	font-size: 1rem;
}
.des_pp {
	font-size: 1.5rem;
}
.buy_btn_pp {
	height: 2rem;
	width: 10rem;
	background-color: $secondary;
	color: $light;
}
.adc_btn_pp {
	height: 2rem;
	width: 10rem;
	background-color: $secondary;
	margin-left: 1rem;
	color: $light;
}
.main_body_pro_page {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 100px;
	margin-bottom: 100px;
}

.comment_div{
	width: 50rem;
	border: solid black;
}

@media screen and (max-width: 800px) {
	.Main_BI {
		// margin-top: 60px;
		// width: 80vw;
		padding: 20px 60px;
		// margin-left: 0rem;
	}
	.main_body_pro_page {
		flex-direction: column;
		justify-self: flex-start;
	}
	.Main_CT {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 2rem;
		padding: 0rem 0px;
		width: 90%;
		box-sizing: border-box;
	}

	.buy_btn_pp {
		height: 2rem;
		width: 8rem;
		background-color: $secondary;
		color: $light;
	}
	.adc_btn_pp {
		height: 2rem;
		width: 8rem;
		background-color: $secondary;
		margin-left: 1rem;
		color: $light;
	}
}

