.ProfileCard{
    background-color: #e6e4e2;
	border: 1px solid rgb(172, 172, 172);
    width: 22vw;
    height: 32vw;
	// padding: 0 2vw;
	box-sizing: border-box;
    display: block;
    border-radius: 20px; 
    margin-left: 5vw;
    margin-right: 2vw;
    float: left;
    // margin-bottom: 15vw;
}

.items_cont{
    background-color: #e6e4e2;
	border: 1px solid rgb(172, 172, 172);
    width: 60vw;
    border-radius: 20px; 
    margin-bottom: 8vw;
}

.items_colm{
    background-color: #e6e4e2;
	border: 1px solid rgb(172, 172, 172);
    width: 60vw;
    height: 35vw;
    border-radius: 20px; 
}

.main_profile_page{
 margin-top: 3.2vw;
	display: flex;
    flex-direction: row;
	justify-content: start;
	align-items: center;
}

.info{
    align-items: center;
    padding: 5% 18%;
    display: flex;
    flex-direction: row;
    justify-content: start;
	align-items: center;
    
}
.user_pro_pic{
    // background-color: black;
    width: 110px;
    height: 110px;
    border: solid $dark;
    border-radius: 100px;
   margin-right: 1.2vw;
}
.edit{
    color: $secondary;
    font-size: 0.8rem;
    // float: left;
}
.heading{
    color: #898887;
    margin-bottom: 1.4vw;
    padding: 0 8%;
    font-size: 1.2rem;
    
}

.details{
    padding: 0.5vw;
}

.hr_pp{
    opacity: 0.5;
    padding: 0 8%;
}
.user_name{
    text-align: center;
    font-size: 2rem;
   margin-top: 0.8vw;
//    margin-right: 1vw;
}
.heading_value{
    font-size: 1rem;
    color: $dark;
    margin-top: 0.5vw;
}

.log_out{
    color: $secondary;
    margin-bottom: 1.4vw;
    margin-top: 2vw;
    padding: 0 8%;
    font-size: 1.2rem;
    cursor: pointer;
}