

.header_left_PP {
	display: flex;
	background-color: $dark;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	img {
		margin-top: 5px;
		margin-right: 5px;
		height: 40px;
	}
	span,
	b {
		cursor: pointer;
		color: white;
		font-size: 30px;
	}

	span {
		color: $secondary;
	}
}

.pp_btn {
	width: 65%;
	padding: 0 3%;
	button {
		background-color: transparent;
		color: $light;
		font-size: 17px;
		padding: 5px 25px;
	}

    img {
        height: 30px;
        cursor: pointer;
    }
}
.gap {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0 10%;
}
.ext {
	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	align-items: center;
}

.user_btn_pp {
	width: 45%;
	padding-right: 30px;
	button {
		background-color: transparent;
		color: $light;
		font-size: 16px;
		padding: 5px 10px;
		font-weight: 300;
		margin-left: 2vw;
	}

	img {
		height: 30px;
		cursor: pointer;
	}
}
.Main_BI {
	margin-top: 50px;
	max-width: 40rem;
	min-width: 30rem;
	padding: 4rem ;

	box-sizing: border-box;
	text-align: center;
	display: block;
	// border: solid black;
	margin-left: 6rem;
}


.product_img_pp {
	height: calc(30vh - 14px);
	text-align: center;
}

.Main_CT {
	font-size: 2rem;
	padding: 4rem ;
	max-width: 45rem;
	min-width: 35rem;
	margin-left: 2rem;
	// border: solid black;
	margin-top: 2rem;
}
.author {
	// color:;
	font-size: 1rem;
}
.hr {
	opacity: 0.5;
}
.price_pp {
	font-size: 1.4rem;
}
.price_val {
	color: $secondary;
}
.des_cont {
	font-size: 1rem;
}
.des_pp {
	font-size: 1.5rem;
}
.buy_btn_pp {
	height: 2rem;
	width: 10rem;
	background-color: $secondary;
	color: $light;
}
.adc_btn_pp {
	height: 2rem;
	width: 10rem;
	background-color: $secondary;
	margin-left: 1rem;
	color: $light;
}
.main_body_pro_page {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}


@media screen and (max-width: 800px) {

	.Main_BI {
		margin-top: 100px;
		width: 80vw;
		padding: 5vw;
		margin-left: 0rem;
	}
	.main_body_pro_page {
		flex-direction: column;
	
	}
	.Main_CT {
		font-size: 2rem;
		padding: 3rem 10%;
		max-width: 35rem;
		min-width: 15rem;
	}
}
@media screen and (max-width: 550px) {

	
	.buy_btn_pp {
		height: 2rem;
		width: 6rem;
		background-color: $secondary;
		color: $light;
	}
	.adc_btn_pp {
		height: 2rem;
		width: 6rem;
		background-color: $secondary;
		margin-left: 1rem;
		color: $light;
	}
}


@media screen and (max-width: 380px) {

	.buy_btn_pp {
		height: 2rem;
		width: 6rem;

	}
	.adc_btn_pp {
		height: 2rem;
		width: 6rem;
		margin-left: 0.5rem;
	}
}


