.productcont{
    width: 280px;
    height: 270px;
    box-shadow: 10px 10px 8px 10px #888888;
    margin: auto;
    margin-top: 50px;
    
}
.strip{
    width: 10px;
    height :270px;
    background-color: $primary;
    float: right;
    border-radius: 5px;
}

.good{
    color: $primary;
}
.old{
  width: 95px;
//   height: 15px;
// font-size: 0px;
line-height: 0%;
//   background:$;
  border-top: 20px solid $primary;
  border-right: 20px solid transparent;
 border-left: 20px solid transparent;
 transform: rotate(-225deg);

}
.inclined{
  transform: translate(-28px , 30px);
    
}