#ProfileCard {
    // background-color: #e6e4e2;
    border: 1px solid rgb(172, 172, 172);
    width: 26rem;
    min-width: 25rem;
    padding: 30px 10px;
    box-sizing: border-box;
    display: block;
    border-radius: 20px;
    margin-left: 4rem;
    margin-right: 5rem;
    float: left;
    img {
        // margin-left: 3vw;
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
}

.items_cont {
    // background-color: #e6e4e2;
    border: 1px solid rgb(172, 172, 172);
    width: 70rem;
    min-width: 20rem;
    height: 28rem;
    border-radius: 20px;
    // margin-bottom: 8;
    margin-right: 3rem;
}

.items_colm {
    background-color: #e6e4e2;
    border: 1px solid rgb(172, 172, 172);
    width: 60vw;
    height: 35vw;
    border-radius: 20px;
}

.main_profile_page {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: center;
}

.info {
    align-items: center;
    padding: 5% 18%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user_pro_pic {
    // background-color: black;
    width: 80px;
    height: 80px;
    // border: solid $dark;
    border-radius: 50px;
    margin-right: 1.2vw;
}
.edit {
    color: $secondary;
    font-size: 0.8rem;
    cursor: pointer;
}
.heading {
    color: #898887;
    margin-bottom: 1.4vw;
    padding: 0 8%;
    font-size: 1.2rem;
}

.details {
    padding: 0.5vw;
}

.hr_pp {
    opacity: 0.5;
    padding: 0 8%;
}
.hr_pro {
    opacity: 0.5;
}
.user_name {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.8vw;
    //    margin-right: 1vw;
}
.heading_value {
    font-size: 1.2rem;
    color: $dark;
    margin-top: 0.5vw;
    // background-color: #e6e4e2;
    border: transparent;
}

.log_out {
    color: $secondary;
    margin-top: 2vw;
    padding: 0 8%;
    font-size: 1.2rem;
    cursor: pointer;
}
.save:hover {
    color: $secondary;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .main_profile_page {
        // margin-top: 3.2vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
    }

    #ProfileCard {
        max-width: 20rem;
        min-width: 12rem;
        margin: auto;
        margin-bottom: 3rem;
        img {
            // margin-left: 3vw;
            height: 40px;
            width: 40px;
            cursor: pointer;
        }
    }

    .info {
        align-items: center;
        padding: 5% 18%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .items_cont {
        background-color: unset;
        border: unset;
        width: 30rem;
        min-width: 10rem;
        height: 28rem;
        border-radius: 20px;
        // margin-bottom: 8;
        margin-right: 3rem;
    }
    .user_pro_pic {
        width: 40px;
        height: 40px;
        // border: solid $dark;
        border-radius: 50px;
        margin-right: 1rem;
    }
    .edit {
        color: $secondary;
        font-size: 0.6rem;
        cursor: pointer;
    }
    .heading {
        color: #898887;
        margin-bottom: 3vw;
        padding: 0 8%;
        font-size: 1rem;
    }

    .details {
        padding: 0.5vw;
    }

    .user_name {
        text-align: center;
        font-size: 0.7rem;
        margin-top: 0.8vw;
        //    margin-right: 1vw;
    }
    .heading_value {
        font-size: 0.9rem;
        margin-top: 1.5vw;
    }

    .log_out {
        color: $secondary;
        // margin-bottom: 1.4vw;
        // margin-top: 2vw;
        padding: 0 8%;
        font-size: 1rem;
        cursor: pointer;
    }
    .save:hover {
        color: $secondary;
        cursor: pointer;
    }
    .heading_mob_pp {
        font-size: 1rem;
    }
    .see_mob_pp {
        font-size: 0.5rem;
        margin-left: 8vw;
    }
}
