.regis_cont{
    width: 100%;
    background: linear-gradient(#8a8888 , #393737);
box-shadow: 5px 5px 30px #FFFFFF;
border: 1px solid #707070;
border-radius: 24px;

padding: 2vh;
}

.regis_subcont{
    padding: 1rem;
}

.regis_main{
    padding: 3rem;
    max-width: 60vh;
    min-width: 25vh;
    margin: auto;
    height: 100vh;
}



input[type=email] , input[type=number]{
    width: 100%;
    padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.5rem;

}

.regis_btn{
    color: $primary;
    padding: 14px 20px;
    border: $primary;
    cursor: pointer;  
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
  margin-top: 2vh;
}

.regis_btn:hover{
    
        background-color:$primary ;
        color: white;
    
}

.register_title_btn{
    padding: 0 10%; 
}
.register_title{
    background: transparent;
    text-align: center;
    font-size: 4.3vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: transparent;
  cursor: pointer;
}

.regis_subtitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.9vh;

}

// .bottom{
//     text-align: center;
//     color: white
// }

@media(max-width : 55vh){
.register_title{
  font-size: 3.6vh;
}
.regis_subtitle{
    font-size: 3.2vh;
}
}

@media(max-width : 50vh){
    .register_title{
        font-size: 3vh;
      }
      .regis_subtitle{
          font-size: 2.5vh;
      }
}

@media(max-width : 45vh){
    .register_title{
        font-size: 2.6vh;
      }
      .regis_subtitle{
          font-size: 2.1vh;
      }
}
@media(max-width : 30vh){
    .register_title{
        font-size: 2.2vh;
      }
      .register_title_btn{
      text-align: center;
      }
      .regis_subtitle{
          font-size: 1.8vh;
      }
}
@media(max-width : 25vh){
    .register_title{
        font-size: 0.5vh;
      }
.register_title_btn{
  text-align: center;
}

      .regis_subtitle{
          font-size: 0.8vh;
      }
}

label{
    color: white;
    font-size: 2vh;
}

.bottom{
    color: white;
    font-size: 2vh;
   text-align: center;
}
.sign{
    color: $primary;
}