.heading_search_con {
  margin-top: 100px;
}

.search_items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 30px 30px;

  .productcont {
    margin-top: 60px;
  }

  .heading_search {
    background-color: $blur;
    height: 50px;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin-top: 3rem;
    color: $dark;
    font-size: 1.2rem;
  }
  .heading_left_search {
    //    float: left;
    margin-left: 2vw;
    margin-top: 50px;
  }
}
.search_error {
  font-size: 1.5rem;
  text-align: center;
  margin: 20vh;
}

.heading_search {
  // background-color: $blur;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  // border: solid black;
  margin-top: 4rem;
  color: $dark;
  margin-bottom: 1vw;
  font-size: 1.2rem;
}

.empty_search {
  width: 40%;
  min-width: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  // border: solid black;

  .img {
    width: 30%;
    margin-left: 5%;
    img {
      height: 150px;
    }
  }

  .text {
    font-size: 1.8rem;
    color: $secondary;
  }
}

@media screen and (max-width: 720px) {
  .heading_search {
    height: auto;
  }
  .search_items {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding: 20px 10px;
    padding-bottom: 100px;

    justify-content: space-evenly;
    align-items: center;

    .productcont {
      margin-bottom: 1rem;
      margin: 20px 20px;
    }
  }

  .empty_search {
    width: 100%;
    min-width: 30rem;

    margin-top: 100px;
    margin-bottom: 100px;
    // border: solid black;

    .img {
      width: 20%;

      margin-left: 5%;
      img {
        height: 80px;
      }
    }

    .text {
      width: 50%;
      font-size: 1rem;
      color: $secondary;
    }
  }
  .heading_left_search {
    font-size: 24px;
    margin-top: -40px;
  }
}
