.heading_spec_con {
  margin-top: 100px;
}

.spec_items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding-left: 30px;

  .heading_spec {
    background-color: $blur;
    height: 50px;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin-top: 3rem;
    color: $dark;
    font-size: 1.2rem;
  }
  .heading_left_spec {
    //    float: left;
    margin-left: 2vw;
    margin-top: 50px;
  }
}
.spec_error {
  font-size: 1.5rem;
  text-align: center;
  margin: 20vh;
}

.heading_spec {
  // background-color: $blur;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  // border: solid black;
  margin-top: 4rem;
  color: $dark;
  margin-bottom: 1vw;
  font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
  .spec_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .productcont {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 3rem;
    }
  }
}
