.CateCon {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  margin: 40px auto;
  padding-bottom: 30px;
}

.CateCon_profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cate_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  h1 {
    margin-left: 30px;
    color: $dark;
  }

  h3 {
    color: gray;
    margin-top: 30px;

    cursor: pointer;
  }
}

.cate_body {
  overflow-x: scroll;

  white-space: nowrap;
  padding-bottom: 30px;

  width: 100%;
}

.cate_body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 720px) {
  .cate_head {
    margin-bottom: 10px;

    h1 {
      font-size: 16px;
      margin: 10px;
    }
    h3 {
      font-size: 12px;
      margin: 10px;
    }
  }
  .CateCon {
    margin: 10px;
    padding-bottom: 10px;
  }
  .cate_body {
    padding-bottom: 10px;
  }
}
