.Library_con {
    margin-top: 50px;
    width: 100%;
   margin-top: 94px;

}
.proCon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.empty_lib{
    width: 40%;
    min-width: 35rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    // border: solid black;
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    .img{
        // border: solid black;
        width: 30%;
        img{
        height: 150px;
        }
    }
    .text{
        width: 60%;
        font-size: 1.8rem;
        font-weight: 600;
        color: $secondary;
        .sub{
            font-size: 1.3rem;
            margin-top: 1rem;
            color: $dark;

            a{
                color : $secondary
            }
        }
    }
}

@media screen and (max-width: 720px){
    .empty_lib{
        width: 100%;
        min-width: unset;
        margin-top: 100px;
        // border: solid black;
        .img{
            // border: solid black;
            width: 30%;
            img{
            height: 80px;
            }
        }
        .text{
            font-size: 1.2rem;
            // border: solid black;
            width: 70%;
            .sub{
                font-size: 0.9rem;
                margin-top: 1rem;
                color: $dark;
    
                a{
                    color : $secondary
                }
            }
        }
    }
}