*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: white;
  font-family: "Titillium Web", sans-serif;
}

body {
  background: white;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  30% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: #fa255e;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

a:hover {
  /* color: #179b77; */
}

.form {
  background: #383935;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 40px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

#yearofst {
  display: flex;
  justify-content: space-evenly;
}

#yearin {
  width: 100%;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgb(65, 67, 70);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#tab_left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#tab_right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tab-group li a:hover {
  background: #fa255e;
  color: #ffffff;
}

.tab-group .active a {
  background: #fa255e;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(9px) scale(0.7);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

/* #roll_lab {
  transform: translateY(9px) scale(0.7) translateX(-8px);
} */

#pass_lab {
  transform: translateY(9px) scale(0.7) translateX(-8px);
}

#conPass_lab {
  transform: translateY(9px) scale(0.7) translateX(-27px);
}

#ph_num_lab {
  transform: translateY(9px) scale(0.7) translateX(-22px);
}

#fname_lab {
  transform: translateY(9px) scale(0.7) translateX(-12px);
}

/* #roll_lab.active {
  transform: translateY(9px) scale(0.7) translateX(-8px) translateY(50px);
  font-size: 14px;
} */

#pass_lab.active {
  transform: translateY(9px) scale(0.7) translateX(-8px) translateY(50px);
  font-size: 14px;
}

#conPass_lab.active {
  transform: translateY(9px) scale(0.7) translateX(-27px) translateY(50px);
  font-size: 14px;
}

#ph_num_lab.active {
  transform: translateY(9px) scale(0.7) translateX(-22px) translateY(50px);
  font-size: 14px;
}

#fname_lab.active {
  transform: translateY(9px) scale(0.7) translateX(-12px) translateY(50px);
  font-size: 14px;
}

label .req {
  margin: 2px;
  color: #fa255e;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 10px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input,
textarea,
select {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 20px;
  -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
    padding: 12px 20px;
  /* margin: 3px 0; */
  display: inline-block;
  box-sizing: border-box;

}

select {
  color: rgba(255, 255, 255, 0.5);
  background-color: #383935;
  font-size: 1em;
  padding-left: 20px;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #fa255e;
}
.psw{
  text-align: right;
  margin-bottom: 1rem;
  color: #ffffff;
}


textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #fa255e;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  text-align: center;
  border-radius: 30px;
}

/* .button:hover,
.button:focus {
  background: #179b77;

}

*/
.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.submit_btn{
   width: 50%;
}

.divbtn{
  padding: 0% 25%;
}
