.modal{
    border: solid black;
    // color: blanchedalmond;
    width: 50%;
    height: 50rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.profile_mod_cont{
    padding: 5rem;
}