.modal{
    width: 28%;
    background-color: white;
    border: solid $blur;
    height: 26rem;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}
.profile_mod_cont{
    padding: 5rem;
}

@media screen and (max-width :720px){
    .modal{
        width: 60%;
        height: 20rem;
    }
}