// color pallet

$primary: #ff6600;
$secondary: #34866B;
$success: green;
$info: red;
$warning: red;
$danger: red;
$light: #ffffff;
$dark: #383935;
$blur : #e6e4e2;
$l_grey_text: #a2a2a2;
$grey_text: #505050;